/*=============
     #Colors
  =============
*/

$color-scissors: hsl(40, 84%, 53%);
$color-paper: hsl(230, 89%, 65%);
$color-rock: hsl(349, 70%, 56%);
$color-dark-text: hsl(229, 25%, 31%);
$color-score-text: hsl(229, 64%, 46%);
$color-header-outline: hsl(217, 16%, 45%);
$color-white: hsl(0, 0%, 100%);

$color-cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);


/*================
     #Font-size
  ================
*/

$font-size-0_6: .6rem;
$font-size-0_8: .8rem;
$font-size-0_9: .9rem;
$font-size-1: 1rem;
$font-size-1_3: 1.3rem;
$font-size-1_5: 1.5rem;
$font-size-2: 2rem;
$font-size-2_5: 2.5rem;
$font-size-3_5: 3.5rem;